---
swagger: "2.0"
info:
  version: "0.1.0"
  title: Block cache simulator API
basePath: /v1
produces:
  - application/json
paths:
  /blockfile/random:
    get:
      summary: Gets a random block file
      operationId: cacheusagesimulator.api_controller.get_random_block_file
      responses:
        200:
          description: Block file
          schema:
            $ref: "#/definitions/BlockFile"
  /block/next:
    get:
      summary: Gets the next block to be used according to the simulation
      operationId: cacheusagesimulator.api_controller.get_next_block
      responses:
        200:
          description: Next block
          schema:
            $ref: "#/definitions/Block"
definitions:
  BlockFile:
    type: object
    properties:
      name:
        type: string
        description: Name of the block file
      blocks:
        type: array
        items:
          type: string
        description: Hashes of the blocks that make up the block file
  Block:
    type: object
    properties:
      hash:
        type: string
        description: Hash of the block
      size:
        type: number
        description: Size of the block
